<div class='search-result'>
  <div class="main-theme">
    <img src={{flags.svg}} alt='flag' width="100" class="main-image"/>
    <h1>{{name.official}}</h1>
  </div>
<div class="main-info">
  <span><b>Capital: </b> {{capital}}.</span>
  <span><b>Population: </b>{{population}}.</span>
  <span><b>Languages: </b>{{lang}}.</span>
</div>

</div>